{% extends 'base.html' %}
{% load static %}
{% load website_tags %}
{% block container %}
<!-- start banner Area -->
<section class="banner-area relative">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row fullscreen align-items-center justify-content-between">
      <div class="col-lg-6 col-md-6 banner-left">
        <h6 class="text-white">Away from monotonous life</h6>
        <h1 class="text-white">Magical Travel</h1>
        <p class="text-white">
          If you are looking at blank cassettes on the web, you may be very
          confused at the difference in price. You may see some for as low as
          $.17 each.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start popular-destination Area -->
<section class="popular-destination-area pt-40 pb-40">
</section>
<!-- End popular-destination Area -->

<!-- Start home-about Area -->
<section class="home-about-area">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-end">
      <div class="col-lg-6 col-md-12 home-about-left">
        <p class="home-about-custom">
          Travel makes people better versions of themselves. When you learn more about the world and the people in it, push your boundaries, and try new things, you become a more open, outgoing, and awesome person. All the people I’ve known who have traveled are better because of it.
          <br><br>
          With all the ways a trip can make you more of an awesome person, there’s no reason why you shouldn’t be planning your next adventure now — whether it’s around the world or just a two-week vacation close to home.
        </p>
      </div>
      <div class="col-lg-6 col-md-12 home-about-right no-padding">
        <img class="img-fluid" src="{% static 'img/about-img.jpg' %}" alt="" />
      </div>
    </div>
  </div>
</section>
<!-- End home-about Area -->

<!-- Start blog Area -->
{% latestpost %}
<!-- End recent-blog Area -->
{% endblock %}
